# State
## 2014

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import glob, os
import numpy as np
import matplotlib.pyplot as plt
import datetime  as dt
import seaborn as sns

# Data directory

In [3]:
location = 'state'
year = '2014'

In [4]:
# data folder path
data_directory = os.path.join('..','data','raw_data/{}/{}/'.format(location,year))
data_directory_saves = os.path.join( '..','data','clean_data','{}/{}/'.format(location,year))

In [5]:
# create directory
if not os.path.exists(data_directory_saves):
    os.makedirs(data_directory_saves)

## Create dataframe

In [6]:
# combine all files into one df
all_files = glob.glob(os.path.join(data_directory, "*.xlsx"))[0] 
df = pd.read_excel(all_files)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148403 entries, 0 to 148402
Data columns (total 11 columns):
AGENCY           148403 non-null int64
 AGENCY NAME     148403 non-null object
LAST NAME        148403 non-null object
FIRST NAME       148403 non-null object
CLASS TITLE      148403 non-null object
ETHNICITY        148403 non-null object
GENDER           148403 non-null object
EMPLOYEE TYPE    148403 non-null object
HIRE DATE        148403 non-null object
ANNUAL SALARY    148403 non-null float64
STATE NUMBER     148403 non-null int64
dtypes: float64(1), int64(2), object(8)
memory usage: 12.5+ MB

In [8]:
df.head()

,AGENCY,AGENCY NAME,LAST NAME,FIRST NAME,CLASS TITLE,ETHNICITY,GENDER,EMPLOYEE TYPE,HIRE DATE,ANNUAL SALARY,STATE NUMBER
0,101,SENATE ...,ACOSTA,SARAH,LEG. OFFICIAL/ADMINISTRATOR ...,HISPANIC,FEMALE,URP,02/11/2004,51000.0,59341
1,101,SENATE ...,AHLHORN,KURT,LEGISLATIVE PROFESSIONAL ...,WHITE,MALE,URF,01/02/2013,34200.0,341347
2,101,SENATE ...,AKPAN,ERIKA,LEG. OFFICIAL/ADMINISTRATOR ...,BLACK,FEMALE,URF,08/01/2005,51600.0,6093
3,101,SENATE ...,ALBRIGHT,STEVEN,LEG. OFFICIAL/ADMINISTRATOR ...,WHITE,MALE,URP,01/09/2007,85800.0,57927
4,101,SENATE ...,ALEXANDER,LEAH,LEG. OFFICIAL/ADMINISTRATOR ...,WHITE,FEMALE,URF,01/08/2013,66000.0,11289

## Normalize column names

In [9]:
# https://medium.com/@chaimgluck1/working-with-pandas-fixing-messy-column-names-42a54a6659cd
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [10]:
df.head()

,agency,agency_name,last_name,first_name,class_title,ethnicity,gender,employee_type,hire_date,annual_salary,state_number
0,101,SENATE ...,ACOSTA,SARAH,LEG. OFFICIAL/ADMINISTRATOR ...,HISPANIC,FEMALE,URP,02/11/2004,51000.0,59341
1,101,SENATE ...,AHLHORN,KURT,LEGISLATIVE PROFESSIONAL ...,WHITE,MALE,URF,01/02/2013,34200.0,341347
2,101,SENATE ...,AKPAN,ERIKA,LEG. OFFICIAL/ADMINISTRATOR ...,BLACK,FEMALE,URF,08/01/2005,51600.0,6093
3,101,SENATE ...,ALBRIGHT,STEVEN,LEG. OFFICIAL/ADMINISTRATOR ...,WHITE,MALE,URP,01/09/2007,85800.0,57927
4,101,SENATE ...,ALEXANDER,LEAH,LEG. OFFICIAL/ADMINISTRATOR ...,WHITE,FEMALE,URF,01/08/2013,66000.0,11289

# Check for missing values

In [11]:
df.apply(lambda x: sum(x.isnull()))

agency           0
agency_name      0
last_name        0
first_name       0
class_title      0
ethnicity        0
gender           0
employee_type    0
hire_date        0
annual_salary    0
state_number     0
dtype: int64

## combine names 
- output First initial full last name

In [12]:
def clean_name(data):
    f_name = data.first_name[0]
    l_name = data.last_name.title()
    full_name = '{}.{}'.format(f_name,l_name)
    return full_name

In [13]:
df.head()

,agency,agency_name,last_name,first_name,class_title,ethnicity,gender,employee_type,hire_date,annual_salary,state_number
0,101,SENATE ...,ACOSTA,SARAH,LEG. OFFICIAL/ADMINISTRATOR ...,HISPANIC,FEMALE,URP,02/11/2004,51000.0,59341
1,101,SENATE ...,AHLHORN,KURT,LEGISLATIVE PROFESSIONAL ...,WHITE,MALE,URF,01/02/2013,34200.0,341347
2,101,SENATE ...,AKPAN,ERIKA,LEG. OFFICIAL/ADMINISTRATOR ...,BLACK,FEMALE,URF,08/01/2005,51600.0,6093
3,101,SENATE ...,ALBRIGHT,STEVEN,LEG. OFFICIAL/ADMINISTRATOR ...,WHITE,MALE,URP,01/09/2007,85800.0,57927
4,101,SENATE ...,ALEXANDER,LEAH,LEG. OFFICIAL/ADMINISTRATOR ...,WHITE,FEMALE,URF,01/08/2013,66000.0,11289

In [14]:
df['name'] = df.apply(clean_name,axis=1)
df.drop(['last_name','first_name'],axis=1,inplace=True)

In [15]:
df.head()

,agency,agency_name,class_title,ethnicity,gender,employee_type,hire_date,annual_salary,state_number,name
0,101,SENATE ...,LEG. OFFICIAL/ADMINISTRATOR ...,HISPANIC,FEMALE,URP,02/11/2004,51000.0,59341,S.Acosta
1,101,SENATE ...,LEGISLATIVE PROFESSIONAL ...,WHITE,MALE,URF,01/02/2013,34200.0,341347,K.Ahlhorn
2,101,SENATE ...,LEG. OFFICIAL/ADMINISTRATOR ...,BLACK,FEMALE,URF,08/01/2005,51600.0,6093,E.Akpan
3,101,SENATE ...,LEG. OFFICIAL/ADMINISTRATOR ...,WHITE,MALE,URP,01/09/2007,85800.0,57927,S.Albright
4,101,SENATE ...,LEG. OFFICIAL/ADMINISTRATOR ...,WHITE,FEMALE,URF,01/08/2013,66000.0,11289,L.Alexander

# get tenure

In [16]:
df.hire_date.dtype

dtype('O')

In [17]:
# convert to datetime
df.hire_date = pd.to_datetime(df.hire_date)

In [18]:
df.hire_date.dtype

dtype('<M8[ns]')

## Tenure
- current year : 2014 - `hire_date` year

In [19]:
hired = df.hire_date.dt.year
current = 2014

In [20]:
df['tenure'] = current - hired
df.drop(['hire_date'],axis=1,inplace=True)

In [21]:
df.head()

,agency,agency_name,class_title,ethnicity,gender,employee_type,annual_salary,state_number,name,tenure
0,101,SENATE ...,LEG. OFFICIAL/ADMINISTRATOR ...,HISPANIC,FEMALE,URP,51000.0,59341,S.Acosta,10
1,101,SENATE ...,LEGISLATIVE PROFESSIONAL ...,WHITE,MALE,URF,34200.0,341347,K.Ahlhorn,1
2,101,SENATE ...,LEG. OFFICIAL/ADMINISTRATOR ...,BLACK,FEMALE,URF,51600.0,6093,E.Akpan,9
3,101,SENATE ...,LEG. OFFICIAL/ADMINISTRATOR ...,WHITE,MALE,URP,85800.0,57927,S.Albright,7
4,101,SENATE ...,LEG. OFFICIAL/ADMINISTRATOR ...,WHITE,FEMALE,URF,66000.0,11289,L.Alexander,1

# order columns

In [22]:
col_order = ['name','agency','agency_name', 'class_title', 'ethnicity', 'gender', 'employee_type', 'annual_salary', 'state_number', 'tenure']
# column order
df = df.reindex(columns=col_order)

In [26]:
df.head()

,name,agency,agency_name,class_title,ethnicity,gender,employee_type,annual_salary,state_number,tenure
0,S.Acosta,101,SENATE ...,LEG. OFFICIAL/ADMINISTRATOR ...,HISPANIC,FEMALE,URP,51000.0,59341,10
1,K.Ahlhorn,101,SENATE ...,LEGISLATIVE PROFESSIONAL ...,WHITE,MALE,URF,34200.0,341347,1
2,E.Akpan,101,SENATE ...,LEG. OFFICIAL/ADMINISTRATOR ...,BLACK,FEMALE,URF,51600.0,6093,9
3,S.Albright,101,SENATE ...,LEG. OFFICIAL/ADMINISTRATOR ...,WHITE,MALE,URP,85800.0,57927,7
4,L.Alexander,101,SENATE ...,LEG. OFFICIAL/ADMINISTRATOR ...,WHITE,FEMALE,URF,66000.0,11289,1

# save datafame

In [28]:
df.to_csv(data_directory_saves+'state_2014.csv',index=False)

In [29]:
data_directory_saves

'../data/clean_data/state/2014/'